<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo ao Banco Internacional!</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

</head>
<body>
<div class="container text-center mt-5">
    <h1>Bem-vindo ao Banco Internacional</h1>
    <p class="lead">Estamos aqui para ajudar você a gerenciar suas finanças com confiança.</p>
    <div class="mt-4">
        <a href="/register" class="btn btn-primary btn-lg">Criar uma Conta</a>
        <a href="/list" class="btn btn-secondary btn-lg">Listar Contas</a>
    </div>
</div>
</body>
</html>
