<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sucesso</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="container mt-5 text-center">
    <h1 class="text-success">Conta criada com sucesso!</h1>
    <p class="lead">O Banco Internacional agradece pela sua confiança e preferência.</p>
    <p>Você pode criar outra conta ou verificar sua conta a qualquer momento.</p>
    <a href="/register" class="btn btn-primary mt-3">Criar outro Conta</a>
    <a href="/" class="btn btn-secondary mt-3">Retornar à Tela Inicial</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
